.section{
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #4A6B8A;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.div{
    text-align: center;
    margin-top: 10vh;
}

.h1{
    font-size: 3rem;
    color: #fff;
    font-family: "Raleway";
}

.p{
    font-size: 1.2rem;
    color: #fff;
    font-family: "Tuffy";
}

.form{
    display: flex;
    width: 80%;
    min-height: 60vh;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFF;
    border-radius: 4px;
}

.div_contain_input{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 50vh;
    height: 50vh;
    width: 40%;
    color: #000;
    background-color: #FFF;
}
.legend{
    font-family: "Onest";
}

.label{
    font-size: 1.2rem;
    font-family: "Tuffy";
}

.fieldset > .small {
    margin-bottom: 1rem;

}

.input, .select{
    padding: 0.2rem;
    border-radius: 4px;
    border: none;
    background-color: #D1E0E7;
}

.btn{
    border: none;
    border-radius: 4px;
    background-color: #D1E0E7;
    width: 50%;
    font-family: "Tuffy";
    padding: 0.2rem;
    font-size: 1.2rem;
    margin-top: 2.5rem;
    border: 2px solid #D1E0E7;
    transition: 0.2s;
}

.btn:disabled{
    background-color: transparent;
}

.btn:hover{
    background-color: transparent;
    border: 2px solid #4A6B8A;
}

.input:focus, .select:focus{
    border: 2px solid #4A6B8A;
}

.confirmDate{
    background-color: #760000;
    width: 40vw;
    min-height: 40vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: fixed;
    top: 30%;
    padding: 2rem;
    gap: 1rem;
    color: #fff;
    text-align: center;
}

.divBtn{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.btnConfirm, .btnCancel{
    width: 30%;
    padding: 0.2rem;
    border-radius: 4px;
    border: none;
    font-family: "Tuffy";
    font-size: 1.2rem;
    background-color: #fff;
    border: 2px solid #fff;
    transition: 0.2s;
}

.btnConfirm:hover, .btnCancel:hover{
    background-color: transparent;
    color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* oscurece el fondo */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* se queda arriba de todo */
}

.displaynone{
    display: none;
}

.displayblock{
    display: flex;
}


.section > div > .p{
    text-align: center;
}

@media (max-width: 1200px) {
    .confirmDate{
        width: 75vw;
    }
}

@media (max-width: 628px){
    .btnCancel, .btnConfirm{
        font-size: 1rem;
        width: 50%;
    }
}

@media (max-width: 768px) {
    .section{
        padding: 2rem;
    }

    .form{
        flex-direction: column;
        width: 100%;
    }

    .fieldset{
        width: 80%;
    }

    .fieldset > .btn{
        align-self: center;
    }
    
    
    
}

