.section_services{
    width: 100%;
    min-height: 300vh;
    height: auto;
    background-color: #D1E0E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_services{
    width: 90%;
    min-height: 120vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
    background-color: aliceblue;
}
.div_contain_service{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
    min-height: 70vh;
    height: auto;
    gap: 2rem 0;
}

.card_service{
    width: 80%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    border-radius: 4px;
}

.h2{
    font-size: 3rem;
    font-family: "Onest";
    text-align: center;
}