.section_services{
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #D1E0E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4A6B8A;
}

.div_services{
    width: 90%;
    min-height: 120vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
    margin-top: 5rem;
}
.div_contain_service{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
    min-height: 70vh;
    height: auto;
    gap: 2rem 0;
}

.card_service{
    width: 80%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}


.h2{
    font-size: 3rem;
    font-family: "Onest";
    text-align: center;
    border-bottom: 2px solid #4A6B8A;
}

.icon{
    width: 40%;
}

.h3, .p{
    color: #000;
}

.btn_masinfo{
    border: 2px solid #4A6B8A;
    background-color: #4A6B8A;
    border-radius: 4px;
    color: #fff;
}

.btn_masinfo:hover{
    background-color: transparent;
    color: #000;
}

@media(max-width: 1000px){
    .div_contain_service{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5rem;
    }

    .h2{
        font-size: 2rem;
    }
  
}

@media(max-width: 700px){
    .div_contain_service{
        grid-template-columns: repeat(1, 1fr);
    }
}