.navbar{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 1rem;
}

.tel, .cel{
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Onest";
}

.logo{
    width: 10rem;
    position: relative;
    justify-self: flex-start;
}

.navbar_ul{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 0;
    gap: 0 2rem;
}

.navbar_li{
    list-style: none;
    width: 20%;
    text-align: center;
    padding: 0.5rem;
    background-color: #4A6B8A;
    border: 2px solid #4A6B8A;
    border-radius: 4px;
    transition: 0.2s;
}

.navbar_link{
    text-decoration: none;
    font-size: 1rem;
    font-family: "Tuffy";
    color: #fff;
    
}

.navbar_li:hover{
    background-color: transparent;
    .navbar_link{
        color: #000;
    }
}

.hamburger{
    font-size: 1.2rem;
    display: none;
    text-align: center;
    border: none;
    background-color: transparent;
}



@media(max-width: 1000px){
    .tel, .cel{
        display: none;
    }

    .div{
        width: 20%;
    }

    .navbar_ul{
        width: 80%;
    }
}

@media (max-width: 850px){
    .logo{
        width: 8rem;
    }

    .navbar_ul{
        gap: 1rem;
        margin-right: 0;
        gap: 1rem;
    }

    .navbar{
        justify-content: center;

    }
    .navbar_link{
        font-size: 0.8rem;
    }
}


@media (max-width: 650px){
    .displaynone{
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .displayblock{
        display: block;
        visibility: visible;
        opacity: 1;
    }

    .nonevent{
        pointer-events: none;
    }

    .event{
        pointer-events: all;
    }

    .navbar{
        flex-direction: column;
    }

    .hamburger{
        display: block;
    }

    .navbar{
        height: auto;
    }
    .navbar_ul{
        width: 100%;
    }

}

@media (max-width: 500px){

    
    .navbar_ul{
        margin: 0;
        padding: 0;
        flex-direction: column;
        width: 90%;
        height: 100%;
        border: none;
    }
    .navbar_li{
        width: 80%;
        text-align: center;
        padding: 0;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #4A6B8A;
        border-radius: 0;
    }

    .navbar_link{
        width: 90%;
        padding: 0;
        color: #4A6B8A;
    }

    .navbar{
        padding: 0 0 1rem 0;
    }

}