.buttonHome{
    position: absolute;
    left: 2%;
    top: 22%;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 0.6rem;
    border-radius: 8px;
    font-family: "Raleway";
    transition: 0.2s;
    border: 2px solid #fff;
}

.buttonHome:hover{
    background-color: transparent;
    border: 2px solid #4A6B8A;
}
@media(max-width: 650px){
    .buttonHome{
        top: 0;
        padding: 0.4rem;
    }
}